body, html {
    margin: 0;
    max-width: 100vw;
    height: 100vh;
    background:	#00ff7f;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    height: 100%; 
}

.board-domain {
    padding: 1rem;
    width: 50%;
    height: 80%;
}

.board {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.board .row {
    width: 100%;
}
.board .column {
    background:#00c000;
    border: 1px solid #008000;
    height: 16%;
    width: 16%; 
}

.crown-red {
    background: url(crown-red.png) no-repeat;

}

.crown-blue {
    background: url(crown-blue.png) no-repeat;
}

.helmet-red {
    background: url(helmet-red.png) no-repeat;
}

.helmet-blue {
    background: url(helmet-blue.png) no-repeat;
}

.cell {
    margin: 0;
    background-position: center;
    background-size: 80% 90%;
    width: 100%;
    height: 100%;
}    

