body, html {
    margin: 0;
    max-width: 100vw;
    height: 100vh;
    font-family: 'Baloo', cursive;
    color:white;    
    background:#4d136d;
}

.header {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    height: 80%; 
}

.board-domain {
    padding: 1rem;
    width: 500px;
    height: 500px;
}

.board {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.board .row {
    width: 100%;
}
.board .column {
    background:	#bcafe7;
    border: 1px solid black;
    height: 16%;
    width: 16%; 
}

.crown-red {
    background: url(crown-red.png) no-repeat;

}

.crown-blue {
    background: url(crown-blue.png) no-repeat;
}

.helmet-red {
    background: url(helmet-red.png) no-repeat;
}

.helmet-blue {
    background: url(helmet-blue.png) no-repeat;
}

.cell {
    margin: 0;
    background-position: center;
    background-size: 80% 90%;
    width: 100%;
    height: 100%;
}    

.user-domain, .result {
    background:#911cb0;
    padding: 1rem;
    border-radius: 10%;
}

label {
    background-color:#bcafe7;
    text-transform: uppercase;
    border-radius: 0.2em;
    padding: 0.2em;
}
#first{
    color: red;
}

#second {
    color: blue;
}

#easy {
    color: 	#820de7;
}

#medium {
    color :#580c7a;
}

#hard {
    color: #170954;
}


h1,h2,h3 {
    margin: 0em 0 0em 0;
}

hr {
    opacity: 0.3;
}

.control-container {
    margin-top: 2em;
    text-align: center; 
}

.control {
    font-size: 1.5em;
    padding: 0.4em;
    border: none;
    border-radius : 0.3em;
    font-family: inherit;
    color: white;
}

#play {
    background:#170954;
}

#undo {
    background: #580c7a;
}